.footer-home.pc {
    background-color: $theme-dark_bg-secondary;
    &.light-bg { background-color: #242629; }
    .inner {
        @include fixed-center();
        padding: 40PX $side-padding-pc;
        box-sizing: border-box;
    }
    .contact-us {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 60PX;
        .title {
            padding-left: 22PX;
            font-size: 40PX;
            color: $theme-dark_color-primary-most;
            user-select: text;
            span {
                margin-left: 12PX;
                font-size: 28PX;
                color: $theme-dark_color-secondary;
            }
        }
        .ant-btn-primary  {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 132PX;
            height: 41PX;
            text-decoration: none;
            color: #090909;
            background-color: $theme-dark_color-relative;
            &:hover {
                background-color: rgba(90, 235, 70, .95);
            }
            span {
                line-height: 1;
                font-size: $size-mder-pc;
                font-weight: normal;
            }
        }
        .ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover, .ant-btn-primary:not(:disabled):not(.ant-btn-disabled):active {
            color: $color-text-primary !important;
            box-shadow: $theme-dark-color-relative -1PX 2PX 15PX 0PX;
        }
    }
    .grid-row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: $side-padding-pc;
        margin-bottom: 28PX;
        .grid-col {
            .grid-col__title {
                margin-bottom: 20PX;
                font-size: $size-md-pc;
                color: $theme-dark_color-primary-most;
                font-weight: 700;
                user-select: text;
            }
            .grid-col-content {
                display: inline-flex;
                flex-direction: column;
                .grid-col-link {
                    margin-bottom: 8PX;
                    padding: 4PX 0;
                    font-size: $size-tner-pc;
                    color: $theme-dark_color-secondary;
                    text-decoration: none;
                    transition: all .3s;
                    &:hover {
                        font-size: $size-md-pc;
                        color: $theme-dark_color-primary-most;
                    }
                }
            }
        }
    }
    .copyright {
        font-size: $size-tner-pc;
        color: $theme-dark_color-secondary;
        user-select: text;
        .link {
            color: $theme-dark_color-secondary;
            text-decoration: none;
            transition: color .3s;
            cursor: pointer;
            &:hover {
                color: $theme-dark_color-regular;
            }
        }
    }
}
