@mixin ecosystem() {
    .ecosystem-wrapper {
        background-color: rgb(66, 69, 73);
        background-image: url(/images/ecosystem/ecosystem-bg.svg);
        background-position: 50% 50%;
        background-size: 586px;
        .ecosystem {
            padding-top: 40px;
            padding-bottom: 60px;
            background-color: rgba(10, 12, 9, 0.85);
            background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55));
        }
        .inner {
            @include fixed-center();
            .main-title {
                margin-top: 60px;
                margin-bottom: 20px;
                text-align: center;
                font-size: 90px;
                color: $theme-dark_color-primary-next;
                -webkit-text-stroke-width: 4px;
                text-transform: uppercase;
                text-shadow: $theme-dark_color-primary-next -3px 0px 11px;
                user-select: text;
            }
            .sub-title {
                margin-bottom: 20px;
                text-align: center;
                line-height: 23px;
                font-size: $size-tner;
                color: $theme-dark_color-primary-next;
                user-select: text;
            }
            .btn-wrapper {
                text-align: center;
                .ant-btn-primary  {
                    height: 41px;
                    min-width: 200px;
                    margin: 0 auto;
                    span {
                        font-size: $size-mder;
                        font-weight: 700;
                    }
                }
            }
            .carousel-item {
                display: flex !important;
                align-items: center;
                justify-content: center;
                padding-top: 40px;
                padding-bottom: 40px;
                max-width: 860px;
                margin: 0 auto;
                .carousel-logo {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 180px;
                    height: 227px;
                    margin-right: 22px;
                    font-size: 0;
                    img {
                        border-radius: 3px;
                    }
                    .uhome-text {
                        opacity: .3;
                    }
                }
                .carousel-content {
                    display: flex;
                    flex: 1;
                    .quote-img {
                        margin-right: 18px;
                    }
                    .carousel-text {
                        line-height: 1.7;
                        font-size: $size-mder;
                        color: $theme-dark_color-primary-most;
                        user-select: text;
                    }
                }
            }
        }
    }
}
