@mixin ect() {
    .ect {
        padding-top: 140px;
        padding-bottom: 90px;
        background-color: $theme-dark_bg-regular;
        .main-title {
            margin: 10px auto;
            padding-top: 40px;
            padding-bottom: 20px;
            width: 980px;
            line-height: 39px;
            text-align: center;
            font-size: 46px;
            color: $theme-dark-color-primary-next;
            user-select: text;
            strong {
                line-height: 100%;
                font-size: 90px;
                text-align: center;
                -webkit-text-stroke-width: 4px;
                text-transform: uppercase;
                text-shadow: $theme-dark-color-primary-next -3px 0px 11px;
                overflow-wrap: normal;
            }
        }
        .sub-title {
            margin: 40px auto 60px;
            width: 900px;
            line-height: 26px;
            text-align: center;
            font-size: 18px;
            color: rgb(145, 145, 145);
            user-select: text;
        }
        .tab-group {
            text-align: center;
            font-size: 0;
            .ant-btn-default {
                min-width: 118px;
                height: 41px;
                font-size: $size-tn;
                color: $color-text-regular;
                font-weight: 700;
                background-color: #ddd;
                border-width: 0;
                border-radius: unset;
                &:first-child {
                    border-top-left-radius: 6px;
                    border-bottom-left-radius: 6px;
                }
                &:last-child {
                    border-top-right-radius: 6px;
                    border-bottom-right-radius: 6px;
                }
                div { display: none; }  // 取消阴影效果
                span { font-weight: 700; }
                &.checked {
                    color: $color-text-primary;
                    background-color: #c8c8c8;
                }
                &:not(.checked):active, &:not(.checked):hover {
                    color: $color-text-regular;
                    background-color: #ddd;
                }
            }
        }
        .tab-content {
            @include fixed-center();
            margin-top: 80px;
            max-width: 1132px;
            box-sizing: border-box;
            overflow: hidden;
            &.hide { display: none; }
        }
        .tab-content__one {
            &.show { display: block; }
            .image-text {
                display: grid;
                padding: 20px;
                grid-template-columns: 0.5fr 0.5fr;
                .title {
                    margin-bottom: 20px;
                    line-height: 44px;
                    font-size: 38px;
                    font-weight: 700;
                    user-select: text;
                }
                .text {
                    margin-bottom: 15px;
                    width: 450px;
                    line-height: 23px;
                    text-align: left;
                    font-size: $size-tn;
                    user-select: text;
                    &.stake-title {
                        margin-bottom: 0;
                        padding-top: 10px;
                        font-size: $size-mder;
                    }
                }
                .ant-btn-primary { margin-top: 30px; }
                .image {
                    ustify-content: flex-start;
                    align-items: center;
                    background-image: url("/images/ect/pos.svg");
                    background-position: 50% 36%;
                    background-size: 280px;
                }
            }

        }
        .tab-content__two {
            &.show { display: block; }
            .image-text {
                display: grid;
                grid-template-columns: .5fr .75fr;
                gap: 20px;
                padding: 20px;
                .image-wrapper {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    img {
                        border-radius: 3px;
                        opacity: 0.61;
                    }
                    .text {
                        margin-top: 8px;
                        width: 300px;
                        line-height: 23px;
                        text-align: center;
                        font-size: $size-tn;
                        color: $theme-dark_color-regular;
                        user-select: text;
                    }
                }
                .description {
                    user-select: text;
                    .title {
                        margin-bottom: 20px;
                        line-height: 44px;
                        text-align: center;
                        font-size: 38px;
                        font-weight: 700;
                    }
                    .text {
                        color: $theme-dark_color-regular;
                        font-size: $size-mder;
                        text-align: center;
                        line-height: 23px;
                    }
                }
            }
        }
        .tab-content__three {
            &.show { display: grid; }
            grid-template-columns: 0.5fr 0.5fr;
            grid-template-rows: auto auto;
            grid-auto-columns: 1fr;
            gap: 20px;
            padding: 20px;
            .card {
                display: flex;
                flex-direction: column;
                .card-title {
                    margin-bottom: 20px;
                    line-height: 44px;
                    font-size: 38px;
                    font-weight: 700;
                    user-select: text;
                }
                .card-desc {
                    width: 480px;
                    padding-right: 60px;
                    line-height: 23px;
                    text-align: left;
                    font-size: $size-tn;
                    color: #fff;
                    box-sizing: border-box;
                    user-select: text;
                }
            }
            .film-text {
                grid-row: span 2 / span 2;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                user-select: text;
                .desc {
                    margin-top: 45px;
                    line-height: 23px;
                    font-size: 15px;
                    color: #fff;
                }
                .ant-btn-primary { margin-top: 35px; }
            }
        }
        .ant-btn-primary {
            padding: 5px 25px;
            height: 40px;
            box-shadow: $theme-dark-color-relative -1px 2px 15px 0px;
            span {
                font-size: $size-mder;
                font-weight: 700;
            }
        }
    }
}
