@mixin carousel() {
    .carousel {
        background-color: $theme-dark-bg-regular;
        .carousel-item {
            .inner-wrapper {
                @include fixed-center();
            }
            .inner {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 84px;
                margin-right: 84px;
                height: 240px;
                .carousel-logo {
                    margin-right: 22px;
                    width: 300px;
                    height: 83.5px;
                    font-size: 0;
                    background-image: url('/images/carousel/carousel-one.png');
                    background-size: cover;
                    background-repeat: no-repeat;
                    opacity: 0.3;
                    transition: opacity 0.3s;
                    &:hover { opacity: 1; }
                }
                .carousel-content {
                    display: flex;
                    flex: 1;
                    .quote-img {
                        margin-right: 18px;
                    }
                    .carousel-text {
                        line-height: 1.7;
                        font-size: $size-mder;
                        color: $theme-dark_color-primary-most;
                        user-select: text;
                    }
                }
            }

        }
    }
}
