@mixin innovative() {
    .innovative-wrapper {
        height: 1000px;
        background-color: rgb(66, 69, 73);
        background-image: url('/images/innovative/innovative-bg.svg');
        background-position: 50% 50%;
        background-size: auto 500px;
        .innovative {
            height: 100%;
            padding-top: 128px;
            background-color: rgba(10, 12, 9, 0.94);
            box-sizing: border-box;
            user-select: text;
        }
        .inner {
            @include fixed-center();
            height: 200px;
            .row {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                column-gap: 100px;
                margin-left: 48px;
                margin-right: 48px;
                .item {
                    width: 460px;
                    .avatar {
                        margin-bottom: 8px;
                        text-align: center;
                        user-select: none;
                    }
                    .title {
                        margin-bottom: 30px;
                        font-size: 24px;
                        text-align: center;
                    }
                    .text {
                        opacity: 1;
                        color: $theme-dark_color-regular;
                        font-size: 19px;
                        line-height: 28px;
                        text-align: left;
                    }
                }
            }
        }
        .innovative-main__title {
            margin-top: 100px;
            text-align: center;
            font-size: 46px;
            color: $theme-dark_color-primary-next;
            font-weight: 300;
            strong {
                font-size: 90px;
                -webkit-text-stroke-width: 4px;
                text-transform: uppercase;
                text-shadow: $theme-dark_color-primary-next -3px 0px 11px;
                overflow-wrap: normal;
            }
        }
        .innovative-sub__title {
            margin-top: 60px;
            margin-bottom: 70px;
            text-align: center;
            font-size: 24px;
            color: #919191;
        }
    }
}
