@mixin mine() {
    .mine {
        padding: 0 $side-padding-mobile;
        background-color: $theme-dark_bg-regular;
        .main-title {
            padding-top: 32px;
            padding-bottom: 20px;
            line-height: 1.16;
            text-align: center;
            font-size: 28px;
            color: $theme-dark_color-primary-next;
            font-weight: 300;
            strong {
                line-height: 100%;
                text-align: center;
                font-size: 60px;
                font-family: SourceSansPro-Semibold;
                -webkit-text-stroke-width: 4PX;
                text-transform: uppercase;
                text-shadow: $theme-dark_color-primary-next -3PX 0 5PX;
                overflow-wrap: normal;
            }
        }
        .sub-title {
            line-height: $line-height;
            text-align: left;
            font-size: $size-lg-mobile;
            color: rgb(145, 145, 145);
        }
        .image-text {
            display: flex;
            flex-direction: column;
            .card-wrapper {
                margin-top: 28px;
                .card {
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 20px;
                    .avatar {
                        margin-right: $side-padding-mobile;
                        text-align: left;
                        font-size: 0;
                        .icon {
                            font-size: 24px;
                            color: $theme-dark_color-relative;
                            font-weight: 700;
                        }
                    }
                    .content {
                        .title {
                            margin-bottom: 10px;
                            color: $theme-dark_color-primary-next;
                            font-size: $size-mder-mobile;
                        }
                        .text {
                            line-height: $line-height;
                            font-size: $size-md-mobile;
                            color: $theme-dark_color-regular;
                        }
                    }
                }
            }
            .image-wrapper {
                margin-top: 2px;
                font-size: 0;
                .carousel {
                }
                $carousel-width: 460PX;
                .carousel-item {
                    padding: 0;
                    width: 100%;
                    height: 5rem;
                    font-size: 0;
                    .adm-image {
                        height: 100%;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain !important;
                    }
                }

                button { display: none; }
                &.pre-sale {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    button {
                        display: inline-block;
                        padding: 7.2px 18px;
                        margin-top: 24px;
                        color: $color-text-regular;
                        background-color: #ddd;
                        span {
                            font-size: $size-mder-mobile;
                            font-weight: 700;
                        }
                        label {
                            margin-left: 12PX;
                            font-size: $size-mder-mobile;
                            color: #5e1c1c;
                            font-weight: 700;
                            cursor: pointer;
                        }
                        &:active, &:hover {
                            color: $color-text-regular;
                            background-color: #ddd;
                            span { color: $color-text-primary; }
                        }
                    }
                }
            }
        }
    }
    .image-view__mask {
        background-color: rgba(12, 14, 12, .98) !important;
    }
    .pre-sale__dialog {
        font-size: 0;
        line-height: 1;
        $border-radius: 12px;
        .adm-mask { background-color: rgba(0, 0, 0, 0) !important; }
        .adm-center-popup-wrap {
            width: 100% !important;
            max-width: 88% !important;
        }
        .adm-center-popup-close {
            @include extend-click();
            position: absolute;
            color: $theme-dark_color-regular;

        }
        .adm-modal-body {
            padding-top: 0;
            border-radius: $border-radius;
        }
        .adm-modal-content {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            background-color: $theme-dark_bg-primary;
        }
        .adm-modal-footer { display: none; }
        .dialog-content {
            padding: 42px $side-padding-mobile;
            background-color: rgba(171, 186, 224, .5);
            .bg {
                position: absolute;
                z-index: 0;
                filter: blur(7px);
                opacity: .8;
                &.bg-1 {
                    top: 12px;
                    left: 8px;
                    width: 60px;
                    height: 68px;
                }
                &.bg-2 {
                    top: 2px;
                    right: 32px;
                    width: 40px;
                    height: 55px;
                }
            }
        }
        .dialog-inner {
            z-index: 1;
            .main-title {
                padding: 0;
                text-align: center;
                line-height: 1;
                font-size: 28px;
                color: $theme-dark_color-primary-most;
                font-family: SourceSansPro-Semibold;
                font-weight: 700;
            }
            .sub-title {
                margin: 16px auto 0 auto;
                text-align: center;
                line-height: $line-height;
                font-size: $size-tner-mobile;
                color: $theme-dark_color-primary-most;
            }
            .cube-img {
                display: block;
                margin: 8px auto 0 auto;
                width: 236px;
                height: auto;
                filter: blur(1);
            }
            .icon-wrapper {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 8px;
                margin: 4px auto 0 auto;
                .column {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    line-height: 1;
                    font-size: 0;
                    color: $theme-dark_color-primary-most;
                    &.column-color__green { color: #52ff27; }
                    &.column-color__cyan { color: #90ebff; }
                    &.column-color__purple { color: #d0bfff; }
                    .icon { font-size: 20px; }
                    .text {
                        margin-top: 8px;
                        font-size: $size-tn-mobile;
                    }
                }
            }
            .btn-group {
                margin-top: 40px;
                text-align: center;
                .order-btn {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    min-width: 160px;
                    height: 42px;
                    border-bottom-right-radius: 24px;
                    span {
                        font-size: $size-md-mobile;
                        color: $color-text-regular;
                        font-weight: 700;
                        letter-spacing: 1px;
                    }
                    .icon {
                        margin-left: 10px;
                        font-size: $size-tner-mobile;
                        font-weight: 700;
                    }
                }
            }

        }
    }
}
