@mixin mine() {
    .mine {
        padding-top: 96PX;
        padding-bottom: 20PX;
        background-color: $theme-dark_bg-regular;
        .inner {
            @include fixed-center();
            .main-title {
                margin: 10PX auto;
                padding-top: 40PX;
                padding-bottom: 20PX;
                line-height: 39PX;
                text-align: center;
                font-size: 46PX;
                color: $theme-dark_color-primary-next;
                font-weight: 300;
                user-select: text;
                strong {
                    margin-top: 60PX;
                    margin-bottom: 20PX;
                    line-height: 100%;
                    text-align: center;
                    font-size: 90PX;
                    font-family: SourceSansPro-Semibold;
                    -webkit-text-stroke-width: 4PX;
                    text-transform: uppercase;
                    text-shadow: $theme-dark_color-primary-next -3PX 0PX 11PX;
                    overflow-wrap: normal;
                }
            }
            .sub-title {
                line-height: $line-height;
                text-align: left;
                font-size: $size-md-pc;
                color: rgb(120, 120, 120);
                user-select: text;
            }
            .image-text {
                display: flex;
                flex-direction: row;
                .card-wrapper {
                    .card {
                        display: flex;
                        flex-direction: row;
                        margin-top: 60PX;
                        .avatar {
                            text-align: left;
                            width: 116PX;
                            img {
                                width: 34PX;
                                height: 34PX;
                            }
                        }
                        .content {
                            .title {
                                margin-bottom: 14PX;
                                color: $theme-dark_color-primary-next;
                                font-size: $size-hger-pc;
                                user-select: text;
                            }
                            .text {
                                margin-bottom: 15PX;
                                color: $theme-dark_color-regular;
                                font-size: $size-mder-pc;
                                line-height: 22PX;
                                user-select: text;
                            }
                        }
                    }
                }
                .image-wrapper {
                    display: flex;
                    align-items: center;
                    margin-top: 20PX;
                    margin-left: $side-padding-pc;
                    font-size: 0;
                    $carousel-width: 460PX;
                    $carousel-height: 212PX;
                    .carousel {
                        width: $carousel-width;
                        height: $carousel-height;
                    }
                    .carousel-item {
                        width: $carousel-width;
                        height: $carousel-height;
                        font-size: 0;
                        .ant-image {
                            width: $carousel-width;
                            height: $carousel-height;
                        }
                        .ant-image-img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                    .slick-dots-bottom {
                        bottom: -16PX;
                    }
                    .ant-btn { display: none; }
                    &.pre-sale {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        .ant-btn {
                            display: inline-block;
                            min-width: 288PX;
                            height: 44PX;
                            margin-top: 44PX;
                            color: $color-text-regular;
                            background-color: #ddd;
                            span {
                                font-size: $size-mder-pc;
                                font-weight: 700;
                            }
                            label {
                                margin-left: 12PX;
                                font-size: $size-mder-pc;
                                color: #5e1c1c;
                                font-weight: 700;
                                cursor: pointer;
                            }
                            &:active, &:hover {
                                color: $color-text-regular;
                                background-color: #ddd;
                                span { color: $color-text-primary; }
                                label { font-size: $size-lg-pc; }
                            }
                        }
                    }
                }
            }
        }

    }
    .pre-sale__dialog {
        width: 790PX !important;
        font-size: 0;
        line-height: 1;
        $border-radius: 18PX;
        .ant-modal-content {
            padding: 0;
            height: 520PX !important;
            background-color: transparent;
            .ant-modal-close {
                @include extend-click();
                position: absolute;
                .ant-modal-close-icon {
                    color: $theme-dark_color-regular;
                }
            }
            .ant-modal-body {
                height: 100%;
            }
            .dialog-content {
                position: relative;
                height: 100%;
                border-radius: $border-radius;
                background-color: $theme-dark_bg-primary;
                .bg {
                    position: absolute;
                    z-index: 0;
                    filter: blur(10PX);
                    &.bg-1 {
                        top: 18PX;
                        left: 32PX;
                    }
                    &.bg-2 {
                        top: 12PX;
                        right: 52PX;
                    }
                }
            }
            .dialog-inner {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                padding: 42PX 24PX;
                background-color: rgba(171, 186, 224, .5);
                border-radius: $border-radius;
                z-index: 1;
                .main-title {
                    text-align: center;
                    line-height: 1;
                    font-size: 32PX;
                    color: $theme-dark_color-primary-most;
                    font-family: SourceSansPro-Semibold;
                    font-weight: 700;
                }
                .sub-title {
                    margin: 20PX auto 0 auto;
                    text-align: center;
                    line-height: $line-height;
                    width: 400PX;
                    font-size: $size-tner-pc;
                    color: $theme-dark_color-primary-most;
                }
                .cube-img {
                    display: block;
                    margin: -46PX auto 0 auto;
                }
                .icon-wrapper {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: $side-padding-pc;
                    margin: -48PX auto 0 auto;
                    width: 400PX;
                    .column {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        .icon {

                        }
                        .text {
                            margin-top: 8PX;
                            font-size: $size-tn-pc;
                            color: $theme-dark_color-primary-most;
                            &.text-1 { color: #52ff27; }
                            &.text-2 { color: #90ebff; }
                            &.text-3 { color: #d0bfff; }
                        }
                    }
                }
                .btn-group {
                    margin-top: 46PX;
                    text-align: center;
                    .order-btn {
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        width: 180PX;
                        height: 48PX;
                        border-bottom-right-radius: 24PX;
                        span {
                            font-size: $size-md-pc;
                            font-weight: 700;
                            letter-spacing: 1PX;
                        }
                        .arrow-icon {
                            margin-left: 12PX;
                        }
                    }
                }

            }
        }
    }
}
