@mixin product() {
    .product {
        padding-top: 80PX;
        .fixed-center { @include fixed-center(); }
        .title-group {
            display: grid;
            grid-template-columns: .76fr 1fr;
            .remark {
                line-height: $line-height;
                font-size: $size-tner-pc;
                color: $theme-dark_color-regular;
                user-select: text;
            }
            .main-title {
                line-height: 1.25;
                font-size: 26PX;
                color: $theme-dark_color-regular;
                user-select: text;
                strong { color: $theme-dark_color-primary-most; }
            }
        }
        .btn-group {
            margin-top: 46PX;
            text-align: center;
        }
        .swiper { margin-top: 60PX; }
        .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 410PX;
            cursor: pointer;
            .img-box {
                width: 100%;
                height: 252PX;
                border-radius: 14PX;
                transition: all .3s;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    max-width: 380PX;
                }
            }
            &.swiper-slide-active, &.swiper-slide-duplicate-active {
                .img-box {
                    height: 100%;
                }
            }
        }
    }
}
