@mixin mine() {
    .mine {
        padding-top: 96px;
        padding-bottom: 20px;
        background-color: $theme-dark_bg-regular;
        .inner {
            @include fixed-center();
            max-width: 1000px;
            .main-title {
                margin: 10px auto;
                padding-top: 40px;
                padding-bottom: 20px;
                line-height: 39px;
                text-align: center;
                font-size: 46px;
                color: $theme-dark_color-primary-next;
                font-weight: 300;
                user-select: text;
                strong {
                    margin-top: 60px;
                    margin-bottom: 20px;
                    font-size: 90px;
                    line-height: 100%;
                    text-align: center;
                    -webkit-text-stroke-width: 4px;
                    text-transform: uppercase;
                    text-shadow: $theme-dark_color-primary-next -3px 0px 11px;
                    overflow-wrap: normal;
                }
            }
            .sub-title {
                line-height: $line-height;
                text-align: center;
                font-size: $size-md;
                color: rgb(120, 120, 120);
                user-select: text;
            }
            .image-text {
                display: flex;
                flex-direction: row;
                .card-wrapper {
                    .card {
                        display: flex;
                        flex-direction: row;
                        margin-top: 60px;
                        .avatar {
                            text-align: left;
                            width: 116px;
                        }
                        .content {
                            .title {
                                margin-bottom: 14px;
                                color: $theme-dark_color-primary-next;
                                font-size: $size-hger;
                                user-select: text;
                            }
                            .text {
                                margin-bottom: 15px;
                                color: $theme-dark_color-regular;
                                font-size: $size-mder;
                                line-height: 22px;
                                user-select: text;
                            }
                        }
                    }
                }
                .image-wrapper {
                    margin-left: 46px;
                    font-size: 0;
                }
            }
        }
    }
}
