@mixin app-store() {
    .app-store {
        padding: 48px $side-padding-mobile;
        background-color: $theme-dark_bg-regular;
        .main-title {
            margin-bottom: 24px;
            text-align: center;
            .phone-text {
                margin: 0 auto;
                width: 180px;
                height: 54px;
                aspect-ratio: auto;
                border-radius: 6px;
                box-shadow: $theme-dark_color-relative 2px 1px 12px 1px;
            }
        }
        .image-text {
            background-image: url("/images/app-store/phone.png");
            background-repeat: no-repeat;
            background-position: 50% 50%;
            .card-wrapper {
                background-color: rgba(12, 14, 12, .9);
                .card {
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 20px;
                    .avatar {
                        margin-right: $side-padding-mobile;
                        text-align: left;
                        font-size: 0;
                        img {
                            width: 24px;
                            height: 24px;
                        }
                    }
                    .content {
                        .title {
                            margin-bottom: 10px;
                            line-height: $line-height;
                            color: $theme-dark_color-primary-next;
                            font-size: $size-mder-mobile;
                        }
                        .text {
                            line-height: $line-height;
                            font-size: $size-md-mobile;
                            color: $theme-dark_color-regular;
                        }
                    }
                }
            }
        }
    }
}
