@mixin app-store() {
    .app-store {
        padding: 48px $side-padding-mobile;
        background-color: $theme-dark_bg-regular;
        .link-group {
            text-align: center;
            .link {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                padding: 0 16px;
                font-size: $size-lg-pc;
                color: $theme-dark_color-primary-most;
                cursor: pointer;
                transition: all .2s;
                &:active {
                    transform: scale(1.2);
                }
                .icon {
                    margin-right: 8px;
                    font-size: 48px;
                    color: #819964;
                    transition: color .2s;
                }
            }
        }
        .image-text {
            margin-top: 28px;
            //background-image: url("/images/home/app-store/phone-ec3.png");
            //background-repeat: no-repeat;
            //background-position: 50% 50%;
            .card-wrapper {
                background-color: rgba(12, 14, 12, .9);
                .card {
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 20px;
                    .avatar {
                        margin-right: $side-padding-mobile;
                        text-align: left;
                        font-size: 0;
                        .icon {
                            font-size: 24px;
                            color: $theme-dark_color-relative;
                            font-weight: 700;
                        }
                    }
                    .content {
                        .title {
                            margin-bottom: 10px;
                            line-height: $line-height;
                            color: $theme-dark_color-primary-next;
                            font-size: $size-mder-mobile;
                        }
                        .text {
                            line-height: $line-height;
                            font-size: $size-md-mobile;
                            color: $theme-dark_color-regular;
                        }
                    }
                }
            }
        }
    }
}
