@font-face{
    font-family: SourceSansPro-Regular;
    src: url("../../public/font/SourceSansPro-Regular.ttf");
}
@font-face{
    font-family: SourceSansPro-Semibold;
    src: url("../../public/font/SourceSansPro-Semibold.ttf");
}
html, body {
    height: 100%;
    line-height: 1;
    font-family: SourceSansPro-Regular, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif !important;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    color: $color-text-regular;
    background-color: #fff;
}

/** 隐藏IE浏览器自带的文本删除按钮和密码查看按钮 **/
input::-ms-clear, input::-ms-reveal {
    display: none;
}

input::-webkit-input-placeholder { color: $color-text-placeholder; }
input::-moz-placeholder { color: $color-text-placeholder; }
input:-moz-placeholder { color: $color-text-placeholder; }
input:-ms-input-placeholder { color: $color-text-placeholder; }

.size-tn-pc { font-size: $size-tn-pc; }
.size-tner-pc { font-size: $size-tner-pc; }
.size-md-pc { font-size: $size-md-pc; }
.size-mder-pc { font-size: $size-mder-pc; }
.size-lg-pc { font-size: $size-lg-pc; }
.size-lger-pc { font-size: $size-lger-pc; }
.size-hg-pc { font-size: $size-hg-pc; }
.size-hger-pc { font-size: $size-hger-pc; }

/** PC端 **/
.ant-btn, .ant-input, .ant-dropdown .ant-dropdown-menu, .ant-carousel, [class^="ant-modal"] {
    font-family: SourceSansPro-Regular, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif !important;
}
/** 手机端 **/
.adm-button {
    font-family: SourceSansPro-Regular, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif !important;
}


.coming-soon.pc {
    .ant-popconfirm-description {
        width: 320PX;
    }
    .ant-popconfirm-buttons {
        button:first-child {
            display: none;
        }
    }
}
.coming-soon__mask.mobile {
    background-color: rgba(0, 0, 0, 0) !important;
}
