// 文字颜色
$color-text-primary: #1a1a1a;         // *着重显示
$color-text-regular: #313131;         // *常规色
$color-text-secondary: #606266;       // *次要色
$color-text-placeholder: #c0c4cc;

// 背景颜色
$background-grey-deep: #c3c3c3;
$background-grey: #d8d8d8;
$background-grey-light: #e0e0e0;
$background-grey-page: #efeff4;

// 字体大小
$size-tn: 15px;
$size-tner: 16px;
$size-md: 17px;
$size-mder: 18px;
$size-lg: 19px;
$size-lger: 20px;
$size-hg: 21px;
$size-hger: 22px;

// 行高
$line-height: 1.42857143;

// 内边距
$side-padding: 12px;

// 黑色主题
$theme-dark_bg-primary: #060606;
$theme-dark_bg-regular: #0c0e0c;
$theme-dark_bg-secondary: #181a1d;
$theme-dark_color-primary-most: #ffffff;
$theme-dark_color-primary-next: #f2f2f2;
$theme-dark_color-regular: #a3a3a3;
$theme-dark_color-secondary: #6d7077;
$theme-dark_color-relative: #5aeb46;

// 蓝色主题
$theme-blue_bg-primary: #1f6fff;
$theme-blue_color-primary: #ffffff;


