@mixin download-app() {
    .download-app {
        padding-bottom: 96PX;
        .fixed-center {
            @include fixed-center();
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        .img-column {}
        .img-row {
            display: flex;
            height: 336PX;
            &.img-row__right-top { align-items: flex-start; }
            &.img-row__offset img {
                position: relative;
                right: -96PX;
            }
            &.img-row__left {
                justify-content: flex-start;
                align-items: flex-end;
            }
            &.img-row__right {
                justify-content: flex-end;
                align-items: center;
            }
        }
        .image-text {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            .main-title {
                font-size: 31PX;
                color: $theme-dark_color-regular;
            }
            .sub-title {
                margin-top: 10PX;
                text-align: center;
                font-size: 41PX;
                color: $theme-dark_color-primary-most;
            }
            .img-wrapper {
                width: 320PX;
                height: 230PX;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .link-group {
                display: grid;
                grid-template-columns: 1fr 1fr;
                width: 100%;
                .link {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: $size-lg-pc;
                    color: $theme-dark_color-primary-most;
                    cursor: pointer;
                    transition: all .2s;
                    &:hover {
                        transform: scale(1.2);
                    }
                    .icon {
                        margin-right: 8PX;
                        font-size: 48PX;
                        color: #819964;
                        transition: color .2s;
                    }
                }
            }
        }
    }
}
