@import "./BannerEc3";
@import "./CarouselEc3";
@import "./InnovativeEc3";
@import "./MineEc3";
@import "./AppStoreEc3";
@import "./EctEc3";
@import "./EcosystemEc3";

.main {
    margin-top: $header-height;
    color: $theme-dark_color-primary-most;
    background-color: $theme-dark_bg-primary;
    @include banner();
    @include carousel();
    @include innovative();
    @include mine();
    @include app-store();
    @include ect();
    @include ecosystem();
}

.ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover, .ant-btn-primary:not(:disabled):not(.ant-btn-disabled):active {
    color: $color-text-regular !important;
}


